<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeetCode Vis</title>
    <link rel="icon" href="img/leetcode.webp">
    <link rel="stylesheet" href="/staticfiles/style.css">
</head>
<body>
    <h2 id = "title1">Welcome To <span id = "span1">LeetCode Visualizer!</span> </h2>
    <div id = "label">
    <h2 id = "text"> Enter the LeetCode Id: </h2>
    <div id = "form">
    <form action="/check" method = "post">
        <input type="text" required name = "name" id = "id" placeholder="Your LeetCode Id...">
        <br> <br>
        <input type="submit" name = "submit" id = "submit">
        <input type="reset" name = "reset" id = "reset">
    </form>
    </div>
</div>
</body>
</html>